<div>
  <h2>About</h2>
  <h4>All about me - the developer</h4>
</div>
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>EDUCATION</b></h5>
      <p class="card-text">2021.1 - present : CPP Seneca College</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>PROJECT</b></h5>
      <p class="card-text">
        Meal-Kit Website <br /><br />
        Accounting Ticketing System <br /><br />
        <a href="https://github.com/hseonhye">GitHub Link</a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>ABOUT ME </b></h5>
      <p class="card-text">
        Hello, I am Seonhye Hyeon , CPP 4th Student in Seneca College. <br />
        I have been studying computer programming since last year, and my goal
        is to become a web developer in Canada. <br />This site is the first web
        page I made using Angular.
      </p>
    </div>
  </div>
</div>
